html, body {
    font-family: montserrat, sans-serif;
    margin: 0;
}

/* NAVBAR AND HEADER STYLES */
h1.intro1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1.1;
}
h1.intro2 {
    font-size: 7.2rem;
    line-height: 0.9;
}
nav {
    transition: 0.3s;
}
nav.shadow {
    box-shadow: 0px 1px 8px #d6d6d6;
}

a {
    text-decoration: none;
}

nav a.active {
    /* color: white; */
    /* background-color:#edeff0; */
    border: 1px solid #15a5b3;
    border-radius: 2rem;
    letter-spacing: 1px;
}

nav a.navbar-brand {
    color: white;
}

nav .nav-item a {
    /* color: white; */
    letter-spacing: 1px;
    padding: 0.4rem 2rem;
    transition: 0.3s
}

nav .nav-item a:hover {
    color: white;
    background-color: #edeff0;
    border-radius: 2rem;
}

#fire-logo {
    width: 13rem;
    height: auto;
}

.length-center {
    height: 85vh;
}

#headerImg {
    opacity: 1;
    width: 100%;
    height: 330vh;
    background-image: url('../img/trees.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.3s;
}
.spacer {
    height: 25vh;
}

/* HOME SECTION STYLES */


#engineer {
    height: 92vh;
    overflow: hidden;
}

#software {
    height: 92vh;
    background-color: #f5f7f7;
    overflow: hidden;
    box-shadow: 2px 1px 8px #d6d6d6;
    overflow: hidden;
}

#about {
    height: 92vh;
    /* background-color:#f5f7f7; */
    overflow: hidden;
    /* box-shadow: 2px 1px 8px #d6d6d6; */
}

#contact {
    height: 85vh;
    /* background-color:#f5f7f7; */
    overflow: hidden;
    /* box-shadow: 2px 1px 8px #d6d6d6; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


.text-teal {
    color: #0D5C63;
}

a.link {
    border-radius: 3rem;
    width: 10rem;
    border: 1.5px solid #15a5b3;
    transition: 0.4s
}

a.link:hover {
    border-radius: 3rem;
    width: 16rem;
    border: 1.5px solid #13858f;
}

a.contact-link {
    border-radius: 3rem;
    width: 10rem;
    background-color: #13858f;
    transition: 0.4s
}

a.contact-link:hover {
    border-radius: 3rem;
    background-color: #0D5C63;
    width: 16rem;
}

.col-xl-8, .col-xl-7 {
    padding: 0;
}

/* FOOTER STYLES */

footer #footer {
    height: 30vh;
    background-color: #343a40;
}

.divide {
    border-left: 1px solid white;
}

/* PRIVACY SECTION STYLES */

#privacy {
    height: auto;
    background-color: #f5f7f7;
}

#infoHeader {
    background-color: #0D5C63;
}

/* ABOUT SECTION */

.bios {
    text-align: justify;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
}

#aboutTeam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-bottom: 1px solid #15a5b3;
    padding-bottom: 40px;
    padding-top: 10px;
}

/* CONTACT SECTION */

#formText {
    color: #0D5C63;
}

/* PRODUCT */

#app h1 {
    font-size: 4rem;
    line-height: 0.85
}

#app {
    height: 100vh;
    /* background-image: url('../img/firstApp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
#ipad {
    height: 130vh;
}
