html, body {
    font-family: montserrat, sans-serif;
    margin: 0;
}

section#software {
    width: 80vw;
    background-color: #f5f7f7;
}

section#engineer {
    width: 80vw;
    background-color: #edf0ef;
}

section #developer img#json {
    border-radius: 100rem;
    opacity: 0.9;
    width: 28rem;
}

section#firefighter {
    background-color: #343a40;
    background-image: url('../img/firefighter.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section#engineer .reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

section#wide-section {
    background-color: #343a40;
}

img#teamPhoto, img#ipadPhoto {
    border-radius: 1.2rem;
}

/* NAVBAR AND HEADER STYLES */

h1.intro1 {
    font-size: 4rem;
    line-height: 1.1;
}

h1.intro2 {
    font-size: 6.3rem;
    line-height: 0.9;
}

nav {
    transition: 0.3s;
}

nav.shadow {
    box-shadow: 0px 1px 8px #d6d6d6;
}

a {
    text-decoration: none;
}

nav a.active {
    border: 1px solid #15a5b3;
    border-radius: 2rem;
    letter-spacing: 1px;
}

nav a.navbar-brand {
    color: white;
}

nav .nav-item a {
    letter-spacing: 1px;
    padding: 0.4rem 2rem;
    transition: 0.3s
}

nav.navbar-dark .nav-item a:hover {
    background-color: rgba(247, 247, 247, 0.3);
    border-radius: 2rem;
}

nav.navbar-light .nav-item a:hover {
    background-color: rgba(237, 237, 237, 1);
    border-radius: 2rem;
}

#fire-logo {
    width: 13rem;
    height: auto;
}

.length-center {
    height: 85vh;
}

#header {
    width: 100%;
    height: 225vh;
}

.headerTrees {
    width: 100%;
    background-image: url('../img/forest1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top #software {
    border-radius: 40px 40px 0px 0px;
}

.spacer {
    height: 15vh;
}

.mini-spacer {
    height: 8vh;
}

.img-half {
    width: 13rem;
    height: auto;
}

.img-quarter {
    width: 7rem;
    height: auto;
}

.hidden {
    display: none;
}

#arrow-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#arrow {
    position: fixed;
    bottom: 3rem;
    width: 4.5rem;
    -webkit-animation: arrow 3s infinite;
    animation: arrow 3s infinite;
    transition: 0.6s;
}

@-webkit-keyframes arrow {
    0% {
        bottom: 45px;
    }
    50% {
        bottom: 62px;
    }
    100% {
        bottom: 45px
    }
}

@keyframes arrow {
    0% {
        bottom: 45px;
    }
    50% {
        bottom: 62px;
    }
    100% {
        bottom: 45px
    }
}

@media only screen and (max-width: 760px) {
    .img-half {
        width: 9rem;
        height: auto;
    }
    #headerImg {
        background-attachment: scroll;
    }
    section#engineer, section#software {
        width: 90vw;
        background-color: #edf0ef;
    }
    #arrow {
        display: none;
    }
    .headerTrees {
        width: 100%;
        background-image: url('../img/forestm.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;

    }
    section#firefighter {
        background-color: #343a40;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: auto;
    }

    section#firefighter .spacer {
        display: none;
    }
    
    #header {
        height:200vh;
    }
}

#engineer {
    overflow: hidden;
}

#About-header {
    background-color: #343a40;
}

.text-teal {
    color: #0D5C63;
}

.text-mint {
    color: #6FEDB7;
}

a.link {
    border-radius: 3rem;
    width: 10rem;
    border: 1.5px solid #15a5b3;
    transition: 0.4s
}

a.link:hover {
    border-radius: 3rem;
    width: 16rem;
    border: 1.5px solid #6FEDB7;
}

a.contact-link {
    border-radius: 3rem;
    width: 10rem;
    background-color: #13858f;
    transition: 0.4s
}

a.contact-link:hover {
    border-radius: 3rem;
    background-color: #0D5C63;
    width: 16rem;
}

.col-xl-8, .col-xl-7 {
    padding: 0;
}

@media only screen and (max-width: 760px) {
    nav {
        background-color: rgba(256, 247, 247, 0.3);
    }
    h2 {
        font-size: 1.3rem;
    }
    h1.intro1 {
        font-size: 2.5rem;
    }
    h1.intro2 {
        font-size: 3.1rem;
    }
    footer #footer {
        flex-wrap: wrap
    }
    .container-fluid .topic h1 {
        font-size: 1.5rem;
    }
}

/* FOOTER STYLES */

footer #footer {
    display: flex;
    background-color: #343a40;
}

footer p {
    margin: 0;
}

.divide {
    padding: 0.5rem 1rem;
}

/* PRIVACY SECTION STYLES */

#privacy {
    height: auto;
    background-color: #f5f7f7;
}

#infoHeader {
    background-color: #0D5C63;
}

/* ABOUT SECTION */

#aboutTeam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-bottom: 1px solid #15a5b3;
    padding-bottom: 40px;
    padding-top: 10px;
}

.circle {
    border-radius: 60rem;
    padding: 2rem;
}

.diagonal {
    border-radius: 50rem;
}

.block {
    height: 0.3rem;
    width: 38%;
    border-radius: 1rem;
    background-color: #6FEDB7;
}

/* CONTACT SECTION */

#formText {
    color: #0D5C63;
}

#teamImg img {
    /* background-image: url('../img/hands.jpg');
    background-size: cover; */
    opacity: 0.9;
    width: 34rem;
    border-radius: 100rem;
    /* height: 75vh;
    background-position: center;
    background-repeat: no-repeat; */
}

@media only screen and (max-width: 760px) {
    #contact-title {
        font-size: 1.7rem;
    }
}

/* PRODUCT */

#product {
    background-color: #343a40;
}

#app h1 {
    font-size: 4rem;
    line-height: 0.85
}

#app {
    background-image: url('../img/mountain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40rem;
}

#watch {
    background-color: #f5f7f7;
    box-shadow: 0px 1px 8px #d6d6d6;
    overflow: hidden;
}

#watch-text {
    background-attachment: fixed;
}

@media only screen and (max-width: 760px) {
    #app h1, #watch h1, #ipad h1 {
        font-size: 2rem;
    }
    #app img {
        padding-top: 4rem;
    }
}